#!/usr/bin/env bash

export APP_NAME="Namespace/PluginName"
export APP_KEY="test"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="en_US"
export APP_DEFAULT_TIMEZONE="UTC"
export SECURITY_SALT="__SALT__"
export APP_EMAIL='user@example.com'

##### Database settings.
# defined in the plugins CI/CD variables
export CI_HOST='__CI_DB_HOST__'
export CI_USERNAME='__CI_DB_USERNAME__'
export CI_PASSWORD='__CI_DB_PASSWORD__'
export CI_DATABASE='__CI_DB_DATABASE__'
export DATABASE_TEST_URL="mysql://${CI_USERNAME}:${CI_PASSWORD}@${CI_HOST}/${CI_DATABASE}?encoding=utf8&timezone=UTC&cacheMetadata=true&quoteIdentifiers=true&persistent=false"

##### LDAP settings.
export LDAP_DOMAIN='__LDAP_DOMAIN__'
export LDAP_USERNAME='__SERVICE_USERNAME__'
export LDAP_PASSWORD='__SERVICE_PASSWORD__'
export LDAP_SERVERS='__LDAP_SERVERS__'
export LDAP_PORT='__LDAP_PORT__'
export LDAP_BASE_DN='__LDAP_BASE_DN__'
export LDAP_SEARCH_USER='__LDAP_SEARCH_USER__'
export LDAP_SEARCH_KEY='__LDAP_SEARCH_KEY__'
